div,
section {
    border: black 1px solid;
    margin: 0;
    padding: 10px;
}

.firstdiv,
.secdiv {
    margin: 20px 5%;
}

.secdiv {
    height: auto;
    border: none;
}

iframe {
    width: 100%;
    height: 170px;
    margin: 0;
    border: 1px black solid;
}

.map {
    width: 100%;
    padding: 0;
    border: none;
}

@keyframes slideshow {
    0%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/plotter-2138990_1920.webp);
        background-size: cover;
        background-position: center;
    }
    20%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/plotter-2138990_1920.webp);
        background-size: cover;
        background-position: center;
    }
    25%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/assets/pantum_p25072-3486798414.jpg);
        background-size: cover;
        background-position: center;
    }
    45%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/assets/pantum_p25072-3486798414.jpg);
        background-size: cover;
        background-position: center;
    }
    50%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/assets/100029128241b3.jpg);
        background-size: cover;
        background-position: center;
    }
    70%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/assets/100029128241b3.jpg);
        background-size: cover;
        background-position: center;
    }
    75%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/assets/71c875f76e1dbbbc1ab53e2d7387599d-3055813891.jpg);
        background-size: cover;
        background-position: center;
    }
    95%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/assets/71c875f76e1dbbbc1ab53e2d7387599d-3055813891.jpg);
        background-size: cover;
        background-position: center;
    }
    100%{
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/plotter-2138990_1920.webp);
        background-size: cover;
        background-position: center;
    }
}

.connect {
    text-align: center;
    padding: 50px;
    backdrop-filter: blur(10px);
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Printinvest/plotter-2138990_1920.webp);
    background-attachment: fixed;
    background-size: cover;
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    animation: slideshow 20s infinite;
}
.connect *{
    margin-top: 30px;
    color: white;
    margin-bottom: 0;
    margin-top: 30px;
    font-size:160%;
}
.connect div{
    border: none;
}

.connect a {
    background-color: #054256;
    display: inline-block;
    width: 49%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.firstdiv{
    text-align: center;
    font-size: larger;
    border: none;
}

.firstdiv div{
    border: none;
    border-bottom: solid;
}

.firstdiv div:nth-child(2){
    border-top: solid;
}
.firstdiv span{
    color: #41A2C2;
}

.firstdiv img{
    width: 10%;
    margin: 20px;
}

.secdiv a{
    color: black;
    display: inline;
    margin: 1px;
}
.secdiv p{
    margin: 1px;
}

.dark-theme .secdiv a{
    color: white;
}

@keyframes shake {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 3px;
        top: 3px;
    }
    50%{
        left: 3px;
        top: -3px;
    }
    75%{
        left: -3px;
        top: 3px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.first {
    position: relative;
    animation: shake .3s infinite;
}

@keyframes shakesec{
    0%{
        transform: rotate(0deg) scale(1);
    }
    10%{
        transform: rotate(0deg) scale(1.2);
    }
    15%{
        transform: rotate(10deg) scale(1.2);
    }
    20%{
        transform: rotate(-10deg) scale(1.2);
    }
    25%{
        transform: rotate(10deg) scale(1.2);
    }
    30%{
        transform: rotate(-10deg) scale(1.2);
    }
    35%{
        transform: rotate(10deg) scale(1.2);
    }
    40%{
        transform: rotate(-10deg) scale(1.2);
    }
    45%{
        transform: rotate(10deg) scale(1.2);
    }
    50%{
        transform: rotate(-10deg) scale(1.2);
    }
    60%{
        transform: rotate(0deg) scale(1);
    }

}

.sec{
    position: relative;
    animation: shakesec 3s infinite;
}

@keyframes thr {
    0%{
        transform: scale(1) rotate(0);
    }
    10%{
        transform: scale(1.2) rotate(0);
    }
    50%{
        transform: scale(1.2) rotate(360deg);
    }
    60%{
        transform: scale(1) rotate(360deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}

.thre{
    position: relative;
    animation: thr 3s infinite;
}


@media (max-width: 640px){
    .connect * {font-size: 110%;}
    .connect a{
        width: max-content;
        font-size: 20px;
    }
}
