@import url(mainMobile.css) (max-width:768px);


#theme-toggle-button{
    float: right;
    aspect-ratio: 1 / 1;
    width: 25px;
    background-color: #0F6985;
    color: white;
}
header {
    background-color: #0F6985;
    text-align: center;
}

html{
    background-color: #0F6985;
}

/* Светлая тема */
.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
}
.light-theme *{
    border-color: #000000 !important;
}

/* Тёмная тема */
.dark-theme {
    --background-color: #000000;
    --text-color: #ffffff;
}
.dark-theme *{
    border-color: white !important;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
}
.logo {

    margin: 0;
}
.main {
    padding-left: 2%;
    padding-right: 2%;
}

header .navDesctop ul {
    margin-top: 0;
    background-color: #054256;
    color: white;
    display: flex;
    /* Это делает список горизонтальным */
    margin: 0;
    padding: 0;
    align-items: center;
    /* Выравнивание ��лементов по центру по вертикали */
    justify-content: space-around;
    /* Распределение элементов равномерно по горизонтали */
    padding-left: 1%;

    list-style-type: none;
    margin: 0;
    padding: 0;

}

header .navDesctop ul li {
    flex: 1;
    /* margin: 0 5px; */
    font-size: 20px;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}


footer {
    background-color: #0F6985;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.1px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 1s;
    display: inline-block;
    width: 100%;
}
header a:first-child{
    width: auto;
}

footer p {
    padding-bottom: 0;
}

a:hover {
    color: #63AAC2;
    text-decoration: underline;
    transition: all 1s;
}

.navDesctop .dropdown {
    display: none;
    position: absolute;
    background-color: #054256;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header .navDesctop ul li:hover .dropdown {
    display: block;
}

.navDesctop .dropdown li {
    padding: 12px;
    padding-left: auto;
    padding-right: auto;
    text-decoration: none;
    display: block;
    
    
}

@media (min-width: 768px) {
.mobile-menu-button{
    display: none;
}

.navMob {
    display: none;
}
}


.dark-theme input[type="text"], .dark-theme input[type="number"], .dark-theme select{
    background-color: rgb(42, 42, 42);
    color: white;
}
