div{
    border: black 1px solid;
    height: 200px;
    margin: 0;
    padding: 10px;
}

.firstdiv, .secdiv{
   margin: 20px 5%;
}
.secdiv{
    height: auto;
}

iframe{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px black solid;
}
.map{
    width: 50%;
    padding: 0;
    border: none;
}