.news{
    background-color: #63AAC2;
}
.news a:hover{
    color: #054256;
}

.news .dropdown{
    background-color: #63AAC2;
}

div{
    border: black 1px solid;
    height: 200px;
    margin: 0;
}

.firstdiv, .secdiv{
   margin: 20px 5%;
}