.news{
    background-color: #63AAC2;
}
.news a:hover{
    color: #054256;
}

.news .dropdown{
    background-color: #63AAC2;
}

body{
    overflow-x: hidden;
}

div{
    
    height: max-content;
    margin: 0;
}

.firstdiv, .secdiv{
   margin: 20px 5%;
}


.galery{
    border: none;
}
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    border: none;
    aspect-ratio: 10 / 3;
}
.galery button{
    position: absolute;
    z-index: 2;
    width: 10%;
    aspect-ratio: 3 / 10;
    background: rgba(0, 0, 0, 0.105);
    border: none;
    cursor: pointer;
}
.dark-theme .galery button{
    background-color: rgba(255, 255, 255, 0.266);
    
}
#next-slide-button{
    right: 0;
}


.carousel-slide:first-child{
    z-index: 1;
}
.carousel-slide {
    background-color: white;
    flex: 0 0 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    position: absolute; /* Добавляем абсолютное позиционирование */
    left: 0; /* Устанавливаем начальное положение */
}
.dark-theme .carousel-slide{
    background-color: black;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}
.carousel-slide div img{
    width: 30%;
    float: left;
}
.carousel-slide div{
    border: none;
}

.firstdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.firstdiv div{
    padding: 0;
    flex: 1 1 47%; 
    margin: 5px;
    aspect-ratio: 10 / 3;
    border: black 1px solid;
}

.firstdiv img{
    float: left;
    height: 100%;
}

