.catalog {
    background-color: #63AAC2;
    margin: 0;
}
.catalog a:hover{
    color: #054256;
}

.items-list {
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-between;
}

.item {
    align-self: flex-end;
    flex: 1 1 230px;
    border: 1px black solid;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.item img {
    width: 100%;
    height: auto;
    /* Автоматическое определение высоты для сохранения пропорций */
    object-fit: contain; /* Обеспечивает, чтобы весь контент изображения был виден, не обрезая лишнее */
    /* Обрезка изображения, чтобы оно заполнило доступное пространство */
    aspect-ratio: 1 / 1;
    /* Сохранение пропорций 1:1 */
}


.item p {
    margin: 10px;
}

.serchANDfilt{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
.serchANDfilt > *{
    width: 100%;
    margin: 3px;
}